@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Stellt sicher, dass der Text weiß ist */
    background-image: url('images/Hintergrund.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(0, 0, 0, 0.7); /* Dunklerer Hintergrund für bessere Lesbarkeit */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 340px; /* Breite der Login-Box angepasst */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    top: -150px; /* Verschiebt den Login-Bereich etwas nach oben */
}

.logo {
    width: 120px; /* Verkleinert das Logo */
    height: auto;
    margin: 0 auto 15px; /* Reduziert den Abstand nach unten */
}

.login-form .form-group {
    margin-bottom: 15px;
}

.input, .form-control, #username, #password {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparentes Weiß für Eingabefelder */
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4caf50; /* Kräftiges Grün für die Buttons */
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #43a047;
}

.forgot-password-link {
    color: #ccc;
    text-decoration: none;
    margin-top: 20px; /* Fügt mehr Platz hinzu */
}

.forgot-password-link a {
    color: inherit; /* Erbt die Farbe des Elternelements */
}

.forgot-password-link a:hover {
    color: #fff;
}
