@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    background: url('../images/background_ticket.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 100%;
    font-family: "Fira Sans", system-ui;
}
.divider {
    width: 65%;
    height: 129%;
    background-color: #9FC52A;
    position: absolute;
    clip-path: polygon(0 0, 40% 0, 100% 100%, 0 100%);
    top: 0px;
}
.text-gray{
    color: #707070;
}
#heading{
    margin-top: 20px !important;
}
.container_main {
    width: 55%;
    position: relative;
    margin: auto;
    background-color: #fff;
    margin-top: 80px;
    padding: 20px;
    margin-bottom: 50px;
}
.back-button{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 164px;
    height: 44px;
    background-color: #ffff;
    color: #9FC52A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.back-button a{
    text-decoration: none;
    color: #9FC52A;
    font-size: 16px;
}
#startScanner{
    width: 189px;
    height: 44px;
    background-color: #9FC52A;
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
    align-self: center;
    border: 0.5px solid #9FC52A;
    color: #ffff;
}
.btn_submit{
    background-color: #9FC52A;
    width: 180px;
    height: 44px;
    color: #fff;
    border: none;
}
.btn_cancel{
    background-color: #fff;
    width: 180px;
    height: 44px;
    color: #9FC52A;
    border: 0.5px solid #9FC52A;
}

@media only screen and (max-width: 600px) {
    .container_main {
        width: 90%;
    }
    .btn_cancel{
    margin-top: 20px;
    }
    .back-button{
        position: absolute;
        top: 10px;
        left: 135px;
    }
}